/* @import "/css/components/animation.css"; */

header .banner {
  padding-top: 5rem;
}
header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  padding-right: 5rem;
}
header .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 80%;
  animation: tea 3s linear infinite alternate;
}
