@keyframes tea {
  0%,
  100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(3rem);
  }
}
@keyframes new {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
    font-weight: bold;
  }
}
@keyframes laclac {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
